.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo--small {
  width: 50px;
  height: 50px;
}

.logo--medium {
  width: 100px;
  height: 100px;
}

.logo--large {
  width: 200px;
  height: 200px;
}
